USE [master]
GO
/****** Object:  Database [VideoGamesDB]    Script Date: 10/21/2025 5:12:42 PM ******/
CREATE DATABASE [VideoGamesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoGamesDB', FILENAME = N'Z:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\VideoGamesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VideoGamesDB_log', FILENAME = N'Z:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\VideoGamesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoGamesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoGamesDB]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 10/21/2025 5:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[GameID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](255) NULL,
	[Developer] [varchar](255) NULL,
	[Platforms] [varchar](255) NULL,
	[ReleaseYear] [int] NULL,
	[CoverImagePath] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
